#footer {
  margin-top: 3.2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  padding-top: 1.4rem;
  text-align: center;
  padding: 2rem 0rem;
}

#footer .footer-text {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7f7f7f;
}
