.main-header {
  padding: 2rem 0rem;
  a {
    color: white;
    text-decoration: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav {
    a {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1.2rem;
    }
    .booking {
      padding: 0.8rem 2rem;
      display: inline-block;
      margin-left: 1rem;
      font-size: 1.2rem;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      background-color: white;
      color: black;
      font-weight: 500;
      &:hover {
        background-color: orange;
        color: white;
      }
    }
  }
}
